<%= form_for(vote) do |f| %>
  <% if vote.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(vote.errors.count, "error") %> prohibited this vote from being saved:</h2>

      <ul>
      <% vote.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :match_point %>
    <%= f.number_field :match_point %>
  </div>

  <div class="field">
    <%= f.label :player_points %>
    <%= f.text_field :player_points %>
  </div>

  <div class="field">
    <%= f.hidden_field :match_id, :value => @current_match.id %>
  </div>

  <div class="field">
    <%= f.hidden_field :player_id, :value => current_player.id %>
  </div>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
