<p id="notice"><%= notice %></p>

<p>
  <strong>Match point:</strong>
  <%= @vote.match_point %>
</p>

<p>
  <strong>Player points:</strong>
  <%= @vote.player_points %>
</p>

<p>
  <strong>Match:</strong>
  <%= @vote.match %>
</p>

<%= link_to 'Back', votes_path %>
